---
const url = Astro.url.pathname



interface Items {
  name?: string
  href?: string
}


const AsideItems: Items[] = [
  {
    name: 'Buttons',
    href: '/components/buttons'
  },
  {
    name: 'Buttons',
    href: '/components/buttons'
  },
]
---

<aside class='w-1/5 '>
  <ul class='grid gap-2'>
    {AsideItems.map(item => (
      <li>
        {item.href &&
          <a class='flex rounded-md p-2 font-semibold bg-zinc-900/60 text-white/60 hover:text-white  hover:bg-zinc-900 transition duration-300' class:list={[url === item.href && 'bg-zinc-900/80']} href={item.href}>
            {item.name}
          </a>
        }
      </li>
    ))}
  </ul>
  
</aside>