w---
import DocLayout from '../../layouts/DocLayout.astro'
---

<DocLayout title='Buttons | T-components - A Set of Components to Make Development with Tailwind Faster and Easier'>
  <header class='grid gap-4'>
    <h2 class='text-3xl font-semibold'>Buttons</h2>
    <p class='opacity-70'>One of the most important components in the web.</p>
  </header>
  <div>
    <!-- <button class="px-6 py-3 text-xs uppercase tracking-wider 
    font-medium text-black bg-white shadow-md rounded-full 
    transition duration-300 ease-in-out cursor-pointer
    hover:-translate-y-0.5 focus:outline-none hover:bg-green-500
    hover:shadow-lg hover:text-white active:transform active:translate-y-1 ">
      Button Text
    </button> -->
    
  </div>
  <!-- <code>
    function greet(name) {
      console.log("Hello, " + name + "!")
    }
    
    greet("Alice");
    greet("Bob");
    </code> -->
    </pre>

</DocLayout>